@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Ride You Rent's Website</h1>
    <p>If you a new user, please register, followed by a log in to access the website's data.</p>
</div>
